// rules for heading block

.heading {
  max-width: $w_text-max-width;

  font: {
    size: 55px;
    weight: generate-numeric-fweight("bold");
  }
  line-height: 60px;
  letter-spacing: -0.5px;

  color: $c_accent;

  @media screen {
    @media (max-width: 1210px) {
      max-width: calc($w_text-max-width * 0.8);
      font-size: 49px;
      line-height: 54px;
    }
  }


  // rules for heading_darkened modifier
  &_darkened {
    color: $c_accent_dark;
  }
}
