/* rules for quote block */

.quote {
  padding: $p_section_padding $p_section_padding 0 $p_section_padding;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "picture quote"
    "picture author";
  column-gap: 80px;
  grid-template-columns: 54.14% minmax(min-content, max-content);
  row-gap: 0;

  &__picture {
    grid-area: picture;
  }

  &__image {
    max-width:100%;
  }

  &__slogan {
    max-width: 470px;
    font-size: 34px;
    line-height: 44px;
    font-weight: generate-numeric-fweight("semibold");
    letter-spacing: -0.5px;
    quotes:"" "";
    color: $c_accent;
    grid-area: quote;
  }

  &__author {
    grid-area: author;
    align-self: end;
  }

  &__name {
    margin: 0;
    font-size: 20px;
    /* swap figma line-height 32 to 20 value for pixelperfect */
    line-height: 20px;
    font-weight: generate-numeric-fweight("medium");
    color: $c_accent;
  }

  &__occupation {
    margin: 8px 0 0 0;
    font-size: 16px;
    /* swap figma line-height 28 to 40 value for pixelperfect */
    line-height: 40px;
    color: rgba($c_text, 0.7);
  }
}
