/* rules for header block */

.header {
  width: 100%;
  padding: 28px 120px;
  align-self: flex-end;

  /* rules for nav__links element */
  &__nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 34px;
  }

  /* rules for nav__link element */
  &__nav-link {
    font: {
      size: 14px;
      weight: generate-numeric-fweight("medium");
    }
    text-decoration: none;
    line-height: 18px;
    color: $c_accent;
  }

  &__nav-link:hover {
    color: rgba($c_accent, $o_header_hov);
  }
}
