// rules for header block

.header {
  width: 100%;
  
  /* swap figma value 28px to 1.9% for responsivness */
  padding: 1.9% $p_section_padding;

  align-self: flex-end;


  // rules for nav__links element
  &__nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 34px;
  }


  // rules for nav__link element
  &__nav-link {
    font: {
      size: 14px;
      weight: generate-numeric-fweight("medium");
    }
    text-decoration: none;
    line-height: 18px;

    color: $c_accent;

    transition: color $a_transition_speed ease;

    &:hover {
      color: rgba($c_accent, $o_header_hov);
    }


    // rules for nav__link_darkened modifier
    &_darkened {
      color: $c_accent_dark
    }

    &_darkened:hover {
      color: rgba($c_accent_dark, $o_header_hov_dark);
    }
  }
}
