// rules for surface-type-info block

.surface-type-info {
  padding: {
    top: $p_section_padding;
    right: 0;
    bottom: 0;
    left: $p_section_padding; 
  }

  box-sizing: border-box;


  // rules for surface-type-info__heading element
  &__heading {
    margin: 0;
  }


  // rules for surface-type-info__text element
  &__text {
    /* change figma value of margin from 50px to 47px for pixelperfectness */
    margin: 47px 0 0 0;
  }


  // rules for surface-type-info__carousel element
  &__carousel {
    /* swap figma value 80px to 6% for responsivness */
    margin: 6% 0 0 0;
  }
}

