// rules for text block

.text {
  max-width: $w_text-max-width;

  margin: 0;

  font: {
    size: 18px;
    weight: generate-numeric-fweight("regular");
  }
  line-height: 28px;

  color: rgba($c_text, 0.7);


  // rules for text_darkened modifier
  &_darkened {
    color: rgba($c_accent_dark, 0.7);
  }
}
