/* rules for bike-type-info block */

.bike-type-info {
  padding: $p_section_padding  $p_section_padding
    calc($p_section_padding / 2) $p_section_padding;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__heading-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__heading {
    margin: 0;
  }

  &__type-switch-box {
    display: flex;
    column-gap: 40px;
  }

  &__card-container {
    margin: $p_section_padding 0 0 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 30px;
  }

  &__type-switch {
    font-size: 18px;
    line-height: 28px;
    font-weight: generate-numeric-fweight("semibold");
    color: rgba($c_text, $o_bike_link);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    appearance: none;

    &:hover {
      color: rgba($c_text,$o_bike_link_hov);
    }
    
    &_active {
      color: rgba($c_accent, $o_bike_link_curr);

      &:hover {
        color: rgba($c_accent, $o_bike_link_curr_hov);
      }
    }
  }
}

