// rules for train-route-info block

.train-route-info {
  /* change figma value mrg-top 30px to 2.22% for responsivness */
  margin: 2.22% 0 0 0;
  padding: $p_section_padding;

  display: grid;
  grid: {
    template: {
      areas:
        "heading picture"
        "text picture"
        "links picture";
      columns: minmax(min-content, max-content) 48.3%;
      rows: repeat(2, auto) 2fr;
    }
  }
  /* swap figma value 160px to 13.4% for responsivness */
  column-gap: 13.4%;

  box-sizing: border-box;


  // rules for train-route-info__heading element
  &__heading {
    margin: 0;

    grid-area: heading;
  }


  // rules for train-route-info__picture element
  &__picture {
    max-width: 100%;

    grid-area: picture;
  }


  // rules for train-route-info__image element
  &__image {
    width: 100%;
  }


  // rules for train-route__text element
  &__text {
    /* swap figma value 50px to 10% for responsivness */
    margin: 10% 0 0 0;

    grid-area: text;
  }

  // rules for train-route-info__links element
  &__links {
    grid-area: links;

    align-self: end;
  }


  // rules for train-route-info__link element
  &__link {
    font: {
      size: 18px;
      weight: generate-numeric-fweight("semibold");
    }
    line-height: 28px;
    text-decoration: none;

    color: $c_accent;

    &:last-child {
      margin-left: 25px;
    }

    &:hover {
      color: rgba($c_accent, $o_app-link_hov);
    }


    // rules for train-route-info__link_darkened modifier
    &_darkened {
      color: $c_accent_dark;

      &:hover {
        color: rgba($c_accent_dark, $o_app-link_hov_dark);
      }
    }
  }
}
