/* rules for cta-promotion block */

.cta-promotion {
  padding-left: $p_section_padding;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "heading picture"
    "text picture"
    "button picture"
    "caption picture";
  grid-template-columns: 53.8% 47.45%;
  grid-template-rows: repeat(3, auto) 1fr;
  grid-auto-flow: row;
  row-gap: 50px;

  /* rules for cta-promotion__heading element */

  // rules for cta-promotion__heading element
  &__heading {
    margin: 80px 0 0 0;

    grid-area: heading;
  }

  /* rules for cta-promotion__text element */
  &__text {
    grid-area: text;
  }

  /* rules for cta-promotion__button element */
  &__button {
    margin: 0;
    max-width: 180px;
    padding: 16px 10px;
    background-color: $c_button_base;
    color: $c_button_text;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    grid-area: button;
  }

  /* rules for cta-promotion__bike-picture-caption element */
  &__bike-picture-caption {
    margin: 0 0 90px 0;
    font: {
      size: 18px;
      weight: generate-numeric-fweight("regular");
    }
    line-height: 18px;
    color: $c_accent;
    align-self: center;
    grid-area: caption;

    /* rules for cta-promotion__bike-picture-caption_darkened modifier */
    &_darkened {
      color: $c_accent_dark;
    }
  }

  /* rules for cta-promotion__bike-picture-container element */
  &__bike-picture-container {
    max-width: 610px;
    max-height: 836px;
    margin: 20px 0 0 0;
    background: {
      size: contain;
      repeat: no-repeat;
      image: url("../images/raster/cta/1x.jpg");
      origin: border-box;
      position: right top;
    }
    grid-area: picture;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      float: left;
      height: 0;
      padding-top: calc(836px / 610px * 100%);
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
